@import '@fontsource/anton/400.css';
@import '@fontsource-variable/open-sans';
@import 'tailwindcss';

@theme {
  --color-lightest: #ffffff;
  --color-lightest-foreground: #000000;
  --color-light: #2266d3;
  --color-light-foreground: #ffffff;
  --color-dark: #000000;
  --color-dark-foreground: #ffffff;

  --color-ring: var(--color-light);

  --font-heading: 'Anton', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --font-body: 'Open Sans', Arial, Helvetica, sans-serif;

  --radius: 1rem;
  --radius-xs: calc(var(--radius) - 8px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --spacing: 8px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer components {
  * {
    @apply box-border;
  }

  body {
    @apply bg-dark text-dark-foreground font-body text-sm p-0 m-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-heading font-normal tracking-wide uppercase;
  }

  h2 {
    @apply mb-4 text-7xl;
  }

  h3 {
    @apply mb-3 text-6xl;
  }

  h4 {
    @apply mb-3 text-4xl;
  }

  p {
    @apply mb-2 text-base leading-3 tracking-wide;
  }

  .community-patrol {
    @apply before:bg-[url(/images/community-patrol.jpg)];
  }

  .community-solidarity {
    @apply before:bg-[url(/images/community-solidarity.jpg)];
  }

  .ice-out {
    @apply before:bg-[url(/images/ice-out.jpg)];
  }

  .ice-rapid-responders {
    @apply before:bg-[url(/images/ice-rapid-responders.jpg)];
  }

  .ice-watch {
    @apply before:bg-[url(/images/ice-watch.jpg)];
  }

  .immigrants-are-welcome {
    @apply before:bg-[url(/images/immigrants-are-welcome.jpg)];
  }

  .legal-observers {
    @apply before:bg-[url(/images/legal-observers.jpg)];
  }

  .rapid-response {
    @apply before:bg-[url(/images/rapid-response.jpg)];
  }
}
