@import '@fontsource/anton/400.css';
@import '@fontsource-variable/open-sans';
@import 'tailwindcss';

@theme {
  --image-community-patrol: url(/images/community-patrol.jpg);
  --image-community-solidarity: url(/images/community-solidarity.jpg);
  --image-ice-rapid-responders: url(/images/ice-rapid-responders.jpg);
  --image-ice-watch: url(/images/ice-watch.jpg);
  --image-legal-observers: url(/images/legal-observers.jpg);
  --image-rapid-response: url(/images/rapid-response.jpg);

  --color-lightest: #ffffff;
  --color-lightest-foreground: #000000;
  --color-light: #2266d3;
  --color-light-foreground: #ffffff;
  --color-dark: #000000;
  --color-dark-foreground: #ffffff;

  --color-ring: var(--color-light);

  --font-heading: 'Anton', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  --font-body: 'Open Sans', Arial, Helvetica, sans-serif;

  --radius: 1rem;
  --radius-xs: calc(var(--radius) - 8px);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);

  --spacing: 8px;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply font-body;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-heading;
}

* {
  box-sizing: border-box;
}

html,
body {
  background-color: #000000;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Anton', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 400;
  letter-spacing: 0.01em;
  text-transform: uppercase;
}

p {
  font-size: calc(1.2 * 1rem);
  line-height: 1.5em;
}

.section {
  padding: 96px 48px;
}

.section.hero {
  align-items: center;
  background-color: #000000;
  color: #ffffff;
  display: flex;
  justify-content: start;
  padding: 256px 48px 128px 48px;
  position: relative;
}

.section.hero::before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  inset: 0 0 0 0;
  opacity: 0.2;
  position: absolute;
  z-index: 0;
}

.section.hero > * {
  width: 50%;
  z-index: 1;
}

.section.hero h2 {
  font-size: calc(6 * 1rem);
  line-height: calc(1.3em * (1 + 5 / 25));
  margin: 0 0 32px;
}

.section h3 {
  font-size: 64px;
  font-size: calc(4.1 * 1rem);
  margin: 0 0 24px;
}

.section.primary-color {
  background-color: #2266d3;
  color: #ffffff;
}

.section.light-color {
  background-color: #ffffff;
  color: #000000;
  position: relative;
}

.section.light-color::before {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  content: '';
  inset: 0 0 0 0;
  opacity: 0.1;
  position: absolute;
  z-index: 0;
}

.section.light-color > * {
  z-index: 1;
}

.section.flex {
  display: flex;
}

.section.flex > * {
  flex: 1 1;
}

.section.flex.centered {
  align-items: center;
  display: flex;
  justify-content: center;
}

.section .center {
  flex: unset;
  text-align: center;
  width: 50%;
}

.footer {
  background: black;
  color: white;
  display: flex;
  padding: 48px 32px;
}

.footer .title {
  flex: 1 0;
  text-transform: uppercase;
}

.footer .logo {
  flex: 0 1;
}
